@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Lobster');

:root{
    font-family: 'Open+Slans', monospace;
    font-size: 1rem;
}

header .logo {
    font-family: 'Lobster', monospace;
    font-size: 2rem;
    text-align: center;
    margin: 24px auto;
    font-weight: bold;
}

header .background {
    padding: 5px;
    background-color: #f2af63
    
}

body {
    max-width: 980px;
    margin: auto;
}

header .menu {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin:auto;
    background-color: #f2af63;
}

header .menu  a {
    font-family: 'Roboto+Slab', monospace;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
}

header .menu a:hover {
    text-decoration: underline;
}

h2 {
    font-family: 'Roboto+Slab', monospace;
    font-size: 2rem;
    text-align: center;
    background-color: #f2af63
}

h3 {
    font-family: 'Roboto+Slab', monospace;
    font-size: 1.5rem;
}

input[type=text] {
    width: 100%;
    pedding: 15px;
    border: 3px solid #f2af63; 
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom:6px;
    resize: vertical;
}

input[type=email] {
     width: 100%;
    pedding: 15px;
    border: 3px solid #f2af63; 
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom:6px;
    resize: vertical;
}

textarea[id=msg] {
     width: 100%;
    pedding: 15px;
    border: 3px solid #f2af63; 
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom:6px;
    resize: vertical;
}

@media (max-width: 620px) {
    
    header .logo {
        margin: 24px 10px;
        font-size: 1.75rem;
    }
    
    header .menu {
        align-items: center;
        flex: 1;
        font-size: 0.80rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.25rem;
    }

}

