@import url('https://fonts.googleapis.com/css?family=Lobster');

header .logo {
    font-family: 'Lobster', monospace;
    font-size: 2rem;
    text-align: center;
    margin: 24px auto;
    font-weight: bold; 
}



body {
    max-width: 980px;
    margin: auto;
}

header .menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

header .menu  {
    list-style-type: none;
}

header .menu  a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
}

header .menu a:hover {
    text-decoration: underline;
}

header .logo{
    align-items: center;
}

@media (max-width: 620px) {
    /*header nav {*/
    /*    display: flex;*/
    /*}*/
    
    header .logo {
        margin: 24px 10px;
        font-size: 1.5rem;
    }
    
    header .menu {
        align-items: center;
        flex: 1;
        font-size: 0.80rem;
    }
}

